{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }

}
